---
import restaurant from "../content/restaurant.json";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

{restaurant.hours.map((line) => <p class={className}>{line}</p>)}
