---
import { getSiteSettings } from "../lib/site-settings";

const restaurant = await getSiteSettings();

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

{restaurant.hours.map((line) => <p class={className}>{line}</p>)}
